<ActionBar title="Destinos detalle">
    <NavigationButton ios:visibility="collapsed" class="fas" icon="font://&#xf0a8;" (tap)="goBack()"></NavigationButton>
    <ActionItem icon="font://&#xf0a8;" class="fas" android:visibility="collapsed" (tap)="goBack()" ios.position="left"></ActionItem>
    <!-- <ActionItem (tap)="onShare()" ios.systemIcon="9" ios.position="left"
    android.systemIcon="ic_menu_share" android.position="actionBar">
    </ActionItem>
    <Label text="Destinos detalle"></Label> -->
</ActionBar>

<StackLayout class="page__content">
    <Image [src]="this.destino.u" width="80" height="132" margin="3" verticalAlignment="top" ></Image>
    <Label [text]="this.destino.nombre" verticalAlignment="center" style="color: black;"></Label>

    <ListView class="list-group" [items]="this.destino.servicios" style="height: 500pc;">
        <ng-template let-x="item">
            <GridLayout columns="auto, *" row="auto, 25" class="list-group-item" verticalAlignment="top" backgroundColor="lightgray">
                <Image col="0" [src]="urlstrin(x)" verticalAlignment="top" class="thumb img-circle"></Image>
                <Label col="1" [text]="x" class="list-group-item-heading"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>