<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Destinos"></Label>
</ActionBar>

<GridLayout rows="*" class="page__content" #layout>
    <ListView class="list-group" [items]="this.destinos" style="height: 1250pc;">
        <ng-template let-item="item" let-i="index" let-third="third">
            <FlexboxLayout flexDirection="row" class="list-group-item">
                <Image [src]="urlstrin(item.u)" class="thumb img-circle"></Image>
                <Label [text]="item.nombre" class="list-group-item-heading" verticalAlign="center" style="width: 60%;"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView> 
</GridLayout>