<ActionBar title="Agregar/editar destino">
    <NavigationButton ios:visibility="collapsed" class="fas" icon="font://&#xf0a8;" (tap)="goBack()"></NavigationButton>
    <ActionItem icon="font://&#xf0a8;" class="fas" android:visibility="collapsed" (tap)="goBack()" ios.position="left"></ActionItem>
</ActionBar>
<StackLayout class="nt-form">
    <StackLayout class="nt-input">
        <Label text="Nombre" class="font-weight-bold m-b-2"></Label>
        <TextField hint="Escriba el nombre..." [(ngModel)]="dest.nombre" class="-border" #nombre="ngModel" required minlen="4"></TextField>
        <Label *ngIf="nombre.hasError('required')" text="*"></Label>
        <Label *ngIf="!nombre.hasError('required') && nombre.hasError('minlen')" text="4+"></Label> 
    </StackLayout>
    <StackLayout class="nt-input">
        <Label text="Imagen" class="font-weight-bold m-b-5"></Label>
        <TextField hint="Escriba la url del imagen..." [(ngModel)]="dest.u" class="-border" #url="ngModel" minlen="4"></TextField>
    </StackLayout>
    <Button class="-primary -rounded-sm" text="Agregar!" (tap)="onAddTap()" *ngIf="nombre.valid"></Button>
</StackLayout>