<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Destinos"></Label>
</ActionBar>

<GridLayout rows="auto, auto, *, auto" class="page__content" #layout>
    <StackLayout row="0">
        <Image [src]="urlstrin(this.favorito.u)" class="thumb img-circle imgfavorito"></Image>
        <Label [text]="this.favorito.nombre" class="textfavorito" verticalAlign="center" style="width: 60%;"></Label>
    </StackLayout>
    <SearchDestino row="1" (search)="searchDestino($event)"></SearchDestino>
    <!-- <Label class="view" #view text="{N}"></Label> -->
    <PullToRefresh row="2" (refresh)="onPull($event)">
        <ListView (longPress)="onLongPress($event)" class="list-group" [items]="this.resultado" (itemTap)="onItemTap($event)" style="height: 1250pc;">
            <ng-template let-item="item" let-i="index" let-third="third">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image [src]="urlstrin(item.u)" class="thumb img-circle"></Image>
                    <Label [text]="item.nombre" class="list-group-item-heading" verticalAlign="center" style="width: 60%;"></Label>
                    <Label text="&#xf164;" class="nt-icon far" (tap)="onTapFav(item.nombre)" *ngIf="!item.isSelected()"></Label>
                    <Label text="&#xf165;" class="nt-icon far" (tap)="onTapNoFav(item.nombre)" *ngIf="item.isSelected()"></Label>
                    <Label text="&#xf14d;" class="nt-icon fas" (tap)="onTapNoSocial(item.u)"></Label>
                    <Label text="&#xf01c;" class="nt-icon fas" (tap)="onTapNoSendMail(item.u)"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>  
    </PullToRefresh>
    <StackLayout row="3">
        <FAB:fab text="&#xf067;" (tap)="fabTap()" class="fab-button fas"></FAB:fab>
    </StackLayout>
</GridLayout>