<StackLayout class="nt-form">
    <StackLayout class="nt-input" flexDirection="row">
      <TextField class="-border" #texto="ngModel" [(ngModel)]="textFieldValue" hint="Ingrese el texto..." required minlen="4"></TextField>
      <Label *ngIf="texto.hasError('required')" text="*"></Label>
      <Label *ngIf="!texto.hasError('required') && texto.hasError('minlen')" text="4+"></Label>
    </StackLayout>
    <Button class="-primary -rounded-sm" text="Buscar!" (tap)="onButtonTap()" *ngIf="texto.valid"></Button>
</StackLayout>