<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<GridLayout class="page__content">
    <StackLayout class="nt-input" flexDirection="row">
        <Label class="page__content-icon fas" text="&#xf013;"></Label>
        <Label class="list-group-item-heading" verticalAlign="center" [text]="this.nombreUsuario"></Label>
        <Button class="-primary -rounded-sm" text="Editar!" (tap)="onButtonTap()"></Button>
      </StackLayout>
</GridLayout>