<ActionBar title="Usuario">
    <NavigationButton ios:visibility="collapsed" class="fas" icon="font://&#xf0a8;" (tap)="goBack()"></NavigationButton>
    <ActionItem icon="font://&#xf0a8;" class="fas" android:visibility="collapsed" (tap)="goBack()" ios.position="left"></ActionItem>
</ActionBar>

<GridLayout class="nt-form">
    <StackLayout class="nt-input" flexDirection="row">
        <TextField class="-border" hint="Ingrese el usuario..." required [(ngModel)]="nombreUsuario"></TextField>
        <!-- <Label *ngIf="texto.hasError('required')" text="*"></Label>
        <Label *ngIf="!texto.hasError('required') && texto.hasError('minlen')" text="4+"></Label> -->
        <Button class="-primary -rounded-sm" text="Actualizar!" (tap)="onButtonTap()"></Button>
      </StackLayout>
</GridLayout>