<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf015;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
    <StackLayout row="auto, auto, auto">
        <Button text="Foto!" class="-primary -rounded-sm" (tap)="onButtonTap()"></Button>
        <Button text="Info Sistema!" class="-primary -rounded-sm" (tap)="onButtonTappInfo()"></Button>
        <Button text="Info Network!" class="-primary -rounded-sm" (tap)="onButtonTappNetwork()"></Button>
    </StackLayout>
</GridLayout>